<h1> EDIT THIS </h1>

<h2> <%= @invention.title %> </h2>

<form method="POST" action="/inventions/<%= @invention.id %>">
    
        <input type="hidden" id="hidden" name="_method" value="PATCH">

    <p> Title: <input type="text" name="title" value="<%= @invention.title %>" ></p>
    <p> Description: <input type="text" name="description" value="<%= @invention.description %>"></p>

    <p> Relevant Field or Industry: <input type="text" name="relevant_field" value="<%= @invention.relevant_field %>"></p>
    
    <p> <label for="patent_filed">Has this patent been filed?</label> <input type="checkbox" name="patent_filed" value="<%= @invention.patent_filed%>"></p>

    <br><br>
    


    <input type="submit">





</form>